

.animeCustomBtn {
    color: #454545;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #454545;
    position: relative;
    margin: 1em;
    display: inline-block;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    text-align: center;
    /*font-family: comfortaa;*/
    /*font-weight: bold*/
}

.animeCustomBtn:before, .animeCustomBtn:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #454545;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 0.3s ease-in-out
}

.animeCustomBtn:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

.animeCustomBtn:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

.animeCustomBtn:hover:before,
.animeCustomBtn:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

.animeCustomBtn:hover {
    color: #353535;
    background-color: #fff;
    border-color: #fff
}

.anime-panel-btn {
    text-align: center;
    position: relative;
    margin: auto;
    border:1px red solid;
}

.pink .animeCustomBtn {
    color: #eb1777;
    border-color: #eb1777
}

.pink .animeCustomBtn:before,
.pink .animeCustomBtn:after {
    border-color: #eb1777
}

.pink .animeCustomBtn:hover:before,
.pink .animeCustomBtn:hover:after {
    border-color: #eb1777;
}

.pink .animeCustomBtn:hover {
    color: #fff;
    background-color: #eb1777;
    border-color: #eb1777;
}

.pink .anime-panel-btn {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}

.blue .animeCustomBtn {
    color: #3bb4e5;
    border-color: #3bb4e5
}

.blue .animeCustomBtn:before, .blue button:after {
    border-color: #3bb4e5
}

.blue .animeCustomBtn:hover:before,
.blue .animeCustomBtn:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #3bb4e5;
    transform: rotateY(180deg)
}

.blue .animeCustomBtn:hover {
    color: #3bb4e5;
    background-color: transparent;
    border-color: #3bb4e5
}

.blue .anime-panel-btn {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}

.borderless .animeCustomBtn {
    border-color: rgba(0, 0, 0, 0);
    color: #999
}

.borderless .animeCustomBtn:hover {
    border-color: #353535;
    background-color: transparent;
    color: #353535
}

.borderless .animeCustomBtn:before,
.borderless .animeCustomBtn:after {
    border-color: transparent;
}

.borderless .animeCustomBtn:hover:before,
.borderless .animeCustomBtn:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #353535
}

.bw .animeCustomBtn {
    color: #fff;
    border-color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

.bw .animeCustomBtn:before,
.bw .animeCustomBtn:after {
    border-color: #fff
}

.bw .animeCustomBtn:hover:before,
.bw .animeCustomBtn:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: gainsboro;
}

.bw .animeCustomBtn:hover {
    color: #fff;
    background-color: #353535;
    border-color: gainsboro;
}

.blue .anime-panel-btn {
    max-width: 960px;
    text-align: center;
    position: relative;
    margin: auto;
}
